.extraactivities-canvas{
    width:631px !important;
    .close-btn{
        top:38px;
        right:38px;
    }
    .extra-activities-img{
        height: 338px;
    }
    .canvas-content{
        padding:50px 61px;
    }
}