.tour-slider {
    .slick-list {
        margin: 0 -17.5px;
        overflow: visible;

        .slick-slide {
            padding: 0 17.5px;
        }
    }
}


.slider-blog{
    .slick-list {
        margin: 0 -17.5px;

        .slick-slide {
            padding: 0 17.5px;
        }
    }
}