 .learning-stroke {
     padding-top: 45px;
     padding-bottom: 140px;
 }

 .early-year-learning {
     padding-top: 115px;
 }

 .early-year-curriculum {
     margin-top: 145px;
     height: 610px;

     .top-img {
         width: 412px;
         height: 398px;
     }

     .bottom-img {
         width: 321px;
         height: 319px;
         bottom:70px;
     }
 }


 .upcoming-tour-age{
    padding-top:120px;
 }

 .reports-sec-age{
    padding-top:150px;
    margin-top:105px;
    padding-bottom:150px;
 }

 .blog-sec-age{
    padding-top:100px;
    padding-bottom:85px;
 }

 .learn-more-sec{
    padding-top:162px;
 }

 .brochures-sec-age{
    margin-top:160px;
 }

 .insta-gallery-age{
    padding-top:130px;
 }