.contact-form {
    padding-top: 210px;
}

.usefull-link-sec {
    padding-top: 85px;
    padding-bottom: 105px;
}

.planningvisit-card {

    background: linear-gradient(to bottom, $secondary 0%, $secondary 50%, $white 50%, $white 100%);

    .row {
        height: 378px;

        .sidecard {
            padding: 105px 70px;
        }
    }
}

.insta-gallery-conatct{
    padding-top:100px;
}