.home-hero{
    height:780px;
}

.parents-section{
    padding-top:110px;
}
.testimonial-home{
 
    margin-top:130px;
  
}

.upcoming-tour{
    .slider-img{
        height:479px;
    }
}

.banner-sec{
    padding-top:190px;
    .banner-img{
        height: 373px;
    }
}

.blog-sec-home{
    
}