
.parents-section{
    padding-top:110px;
}
.testimonial-home{
    padding-top:240px;
    padding-bottom:40px;
    height:705px;
    margin-top:130px;
  
}

.upcoming-tour{
    .slider-img{
        height: 567px;
        .layer{
            background-color:rgba(0, 0, 0, 0.40);
        }
    }
}

.banner-sec{
    padding-top:190px;
    .banner-img{
        height: 373px;
    }
}

.upcoming-tour-home{
    padding-top:110px;
}

.blog-sec-home{
    padding-top:100px;
    padding-bottom:85px;
    margin-top:80px;
}

.insta-gallery-home{
    padding-top:96px;
}