.news-title-card{
    padding-top:230px;
    padding-bottom:120px;
}

.news-card-sec{
    .single-blog{
        margin-bottom:75px;
    }
    .btn-row{
        .highlight{
            background-color:$light !important;
            opacity:1 !important;
        }
    }
}

.insta-gallery-news{
    padding-top:145px;
}