.open-news-sec{
    padding-top:280px;
    .single-img{
       height:567px; 
    }
}

.blog-sec-new-open{
    margin-top:100px;
    padding-top:120px;
    padding-bottom:175px;
}

.learn-more-sec-new-open{
    padding-top:105px;
}

.insta-gallery-news-open{
    padding-top:125px;
}