

.welcome-pupils{
    padding-top:140px;
    padding-bottom:170px;
}

.early-year-sec{
    padding-top:90px;
}

.pre-preparatory-sec{
    padding-top:170px;
}


.preparatory-sec{
    padding-top:140px;
}

.upcoming-tour-school{
    padding-top:100px;
    padding-bottom:100px;
    margin-top:120px;
}

.staf-slider-sec{
    padding-top:125px;
}

.reports-sec-school{
    padding-top:96px;
    padding-bottom:110px;
    margin-top:120px;
}

.reports-sec{

    .single-reports{
        height: 83px;
        margin-bottom:12px;
        padding:0 40px;
    }
}

.testimonial-sec-school{
    padding-top:270px;
    height:650px;
    padding-bottom:40px;
}