.clear-path-sec{
    padding-top:125px;
    .potential-row{
        padding-top:90px;

    }
}

.why-choose-us{
    padding-top:120px;
}

.facility-club{
    padding-top:140px;
}

.school-policies-prospective{
    padding-top:145px;
}

.school-policies-sec{

    .policies-img{
        height:583px;
    }
    .policies-card{
        padding:105px 90px;
    }
}

.upcoming-tour-prospective{
    padding-top:104px;
    padding-bottom:104px;
    margin-top:98px;
}

.learn-more-sec-prospective{
    padding-top:145px;
}

.insta-gallery-prospective{
    padding-top:145px;
}