.clear-path-sec{
    padding-top:125px;
    .potential-row{
        padding-top:90px;
        .potential-img{
            height:393px;
        }
    }
}

.why-choose-us{
    padding-top:120px;
}

.facility-club{
    padding-top:140px;
}

.school-policies-sec{
    padding-top:145px;
    .policies-img{
        height:583px;
    }
    .policies-card{
        padding:105px 90px;
    }
}