.staff-title-card{
    padding-top:200px;
    padding-bottom:135px;
}

.news-card-sec{
    .single-staff{
        margin-bottom:56px;
    }
}

.learn-more-sec-staff{
    padding-top:110px;
    margin-top:150px;
}

.insta-gallery-staff{
    padding-top:76px;  
}