.vacancies-sec {
    padding-top:240px;
    .vacancies-card {
        padding: 82px 83px;
        background-color:#F8F8F8;
    }
}

.future-jobs {
    padding-top: 120px;
}

.insta-gallery-vacancies{
    padding-top:120px;
}